/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight";


// make non-headings slightly lighter
.post-content p, .post-content li {
   font-size: 20px;
   color: #515151;
}



.post-listing h3 {
  font-weight: bold;
  font-size: 1.4rem;
}

.post-listing h4 {
  font-size: 1.2rem;
}

.post-listing a:hover {
  text-decoration: none;
}

.site-header a:hover {
  text-decoration: none;
}

.post-title {
    font-size: 2.2rem;
    font-weight: lighter;
    margin-bottom: .3rem !important;
}
.post-subtitle {
    font-size: 1.6rem;
    margin-top: 0pt !important;
    font-weight: lighter;
    font-style: italic;
}

img {
    box-shadow: 0 0 2px 1px rgba(128, 128, 128, 0.5);
}

figcaption {
  margin-top: 4px;
  font-size: 1rem;
}